<%= form_for customer do |f| %>
  <div class="frm-booking">
    <table class = "with_100">
      <tbody>
        <tr>
          <td colspan="2">
            <div class="fromTo">
              <span class="from"><%= trip.city_start %></span>
              <span class="to"><%= trip.city_finish %></span>
              <span class="date"><%= t ".date" %> <%= l(trip.time_start) %></span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="tdLeft left1"><%= t ".garage" %></td>
          <td class="tdRight">
            <span class="carName"> <%= trip.coach.garage.name %> </span></td>
        </tr>
        <tr>
          <td class="tdLeft left2"><%= t ".seat_selected" %></td>
          <td class="tdRight"><span class="selectedSeat"></span>
          </td>
        </tr>
        <tr>
          <td class="tdLeft"><%= t ".total_amount" %></td>
          <td class="tdRight bold"><span class="total"></span></td>
        </tr>

        <tr>
          <td><%= t ".phone_number" %>
            <span class="starRed">*</span>
          </td>
          <td>
            <%= f.text_field :phone_number, class: "custMobileNo mobileValidate", required: true %>
          </td>
        </tr>
        <tr class="borderBottom">
          <td></td>
          <td>
            <div class="custMobileNoErr custmobie"></div>
          </td>
        </tr>
        <tr>
          <td><%= t ".full_name" %>
            <span class="starRed">*</span></td>
          <td>
            <%= f.text_field :name, class: "custName", required: true %>
          </td>
        </tr>
        <tr class="borderBottom">
          <td></td>
          <td>
            <div class="custNameErr custmobie"></div>
          </td>
        </tr>
        <tr>
          <td><%= t ".email" %></td>
          <td>
            <%= f.text_field :email, class: "custEmail"%>
          </td>
        </tr>
        <tr class="borderBottom">
          <td></td>
          <td>
            <div class="custEmailErr custmobie"></div>
          </td>
        </tr>
        <tr class="trOfficePickup">
          <td class="tdLeft"><%= t ".start_point" %> <span class="starRed">*</span></td>
          <td class="tdRight">
            <%= f.select :bus_stop, options_for_select(list_start_point(trip), "Select")%>
          </td>
        </tr>
        <div class="list_ticket">

        </div>

        <tr>
          <td colspan="2">
            <div class="payment thanhtoan">
              <%= f.submit "Đặt vé", class: "btnCont submit-pay" %>
            </div>
            <div class="eroSubmit hide errosubmit">&nbsp;</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
