<div class="note-seat">
  <div class="ns-item">
    <span class="ns-seat seatAvailable"></span>
    <span><%= t ".empty_seat" %></span>
  </div>
  <div class="ns-item">
    <span class="ns-seat seatSelected"></span>
    <span><%= t ".choosing" %></span>
  </div>
  <div class="ns-item">
    <span class="ns-seat seatUnavailable"></span>
    <span><%= t ".picked" %></span>
  </div>
</div>
<div class="notifyinfo ">
  <div class="green-bus">
    <span><%= t ".note" %></span>
    <ul>
      <li><%= t ".seat_note" %></li>
      <li><%= t ".time_note" %></li>
      <li><%= t ".info_note" %> <b>19001730</b>. <%= t ".hotline" %> <b>0888 555 877</b></li>
    </ul>
  </div>
</div>
