<footer class="footer mt-5">
  <div class="top-footer d-flex justify-content-between flex-wrap mx-auto">
    <div class=" width-arc-footer">
      <div class="d-flex">
        <%= link_to root_url, class: "mx-auto" do %>
          <%= image_tag "car.png", class: "img-car mt-5"%>
        <% end %>
      </div>
      <p class="p-footer text-justify text-white font-p2-footer mt-3 text-center">Vì một
 Việt Nam không phải xếp hàng mua vé, Hãy chia sẻ rộng rãi về chúng tôi</p>
    </div>
    <div class="width-arc-footer">
      <div class="d2-footer">
        <nav class="nav-footer float-left">
          <a href="#" class="text-white font-weight-bold font-p1-footer mt-3">Useful links</a>
          <ul class="mt-4 text-white">
            <li><p class="text-white font-p2-footer">Home</p></li>
            <li><p class="text-white font-p2-footer">How it works</p></li>
            <li><p class="text-white font-p2-footer">Terms and conditions</p></li>
            <li><p class="text-white font-p2-footer">Cookies policy</p></li>
            <li><p class="text-white font-p2-footer">Contac Us</p></li>
            <li><p class="text-white font-p2-footer">About us</p></li>
            <li><p class="text-white font-p2-footer">Features</p></li>
            <li><p class="text-white font-p2-footer">Event list</p></li>
          </ul>
        </nav>
        <nav class="nav-footer float-right">
          <a href="#" class="text-white font-weight-bold font-p1-footer mt-3">My account</a>
          <ul class="mt-4">
            <li><p class="text-white font-p2-footer">New account</p></li>
            <li><p class="text-white font-p2-footer">Open a account</p></li>
            <li><p class="text-white font-p2-footer">Manage</p></li>
            <li><p class="text-white font-p2-footer">Change password</p></li>
            <li><p class="text-white font-p2-footer">Delete account</p></li>
            <li><p class="text-white font-p2-footer">Dashboard</p></li>
          </ul>	
        </nav>		
      </div>
    </div>
    <div class=" width-arc-footer">
      <div class="d3-footer mx-auto">
        <p class="font-p1-footer text-white font-p1-footer text-center">Chin cảm ơn!</p>
        <div class="icon-footer d-flex justify-content-between mt-4">
          <%= image_tag "Socia1.png" %>
          <%= image_tag "socia2.png" %>
          <%= image_tag "socia3.png" %>
          <%= image_tag "socia4.png" %>
        </div>
        <p class="text-white text-center mt-4">Subscribe to our newsletter</p>
        <div class="shadow-footer mt-1"></div>
      </div>
    </div>
  </div>	
</footer>
