<header class="colorbg-dark text-white size-header">
  <div class="container size-header" >
    <div class="float-right d-flex">
      <p class="mr-3"><%= t ".hotline"%></p>
      <p class="mr-3"><%= t ".email" %></p>
      <% if logged_in? %>
        <%= link_to t(".log_out"), logout_path, method: :delete%>
      <% else %>
        <%= link_to t(".log_in"), "", data: { toggle: "modal", target: "#exampleModalCenter" }%>
      <% end %>
      <%= link_to url_for(locale: :vi) do %>
        <%= image_tag "vi.png"%>
      <% end %>
      <%= link_to url_for(locale: :en) do %>
        <%= image_tag "en.png"%>
      <% end %>
    </div>
  </div>
</header>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header contaier-fluid">
        <%= form_with scope: :session, url: login_path, local: true, html: {class: "container-fluid"} do |f| %>

          <%= f.label :email, class: "h6 mt-4" %>
          <%= f.email_field :email, class: "form-control bg-text" %>

          <%= f.label :password, class: "h6 mt-4" %>
          <%= f.password_field :password, class: "form-control" %>

          <%= f.submit t(".log_in"), class: "btn colorbg-red form-control mt-4 mb-4 text-body " %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<section class="size-section-1 colorbg-red text-white">
  <div class="container size-section-1 d-flex">
    <div class="d-flex justify-content-start with-50">
      <%= link_to root_url do %>
        <%= image_tag "car.png", class: "img-car"%>
      <% end %>
      <%= link_to t(".buy_ticket"), root_url, class: "txt-section-1 text-white font-weight-bold ml-5"%>
    </div>
    <div class="d-flex justify-content-end with-50">
    <%= link_to t(".find_ticket"), tickets_path(search: "search"), class: "txt-section-1 text-white font-weight-bold ml-4"%>
    <%= link_to t(".ticket_cance"), tickets_path(search: "cancel"), class: "txt-section-1 text-white font-weight-bold ml-4"%>
    <%= link_to t(".garage"), "#", class: "txt-section-1 text-white font-weight-bold ml-4"%>
    </div>
    <div></div>
  </div>
</section>
